<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <form method="post" action="/user/add">
        <label for="id">enter your id: </label>
        <input type="text" name="id" id="id"><br><br>
        <label for="username">enter your username : </label>
        <input type="text" name="username" id="username"><br><br>
        <label for="email">Enter your email : </label>
        <input type="email" name="email" id="email"><br><br>
        <label for="password">Enter your password : </label>
        <input type="password" name="password" id="password"><br>
        <button>Add New User</button>
    </form>
    
</body>
</html>